/* Existing CSS rules... */

img[data-hide-on-home="true"], video[data-hide-on-home="true"] { display: none; }
body.project-open img[data-hide-on-home="true"], body.project-open video[data-hide-on-home="true"] { display: block; }